{{#each scoreData}}
    <tr>
        <td>{{dataValues.score}}</td>
        <td>{{dataValues.user.dataValues.user_name}}</td>
        <td>{{dataValues.user.dataValues.power_level}}</td>
    </tr>
{{/each}}