


<tr>
    <td>
        <img src="../../public/images/goldCrown1.png" class="w-25">
    </td>
    <td>{{dataValues.power_level}}</td>
    <td>{{dataValues.user_name}}</td>
    {{!-- <td>82</td> --}}
</tr>