{{!-- click button to log in or sign up, HREF in the HTML to /login or /signup --}}
<h3 class="text-center">Welcome</h3>
    <h4 class="text-center">Please sign up or login to take a quiz</h4>
    <br>
    <br>
    <div class="text-center">
        {{!-- JUST LINK THIS TO THE LANDING.JS; MINIMAL AMOUNT OF HB --}}
        <button type="button" id="signUp" class="btn btn-primary m-4 btn-color-blue-crayola btn-lg text-center">Sign Up</button>
        <button type="button" id="login" class="btn btn-primary m-4 btn-color-forest btn-lg text-center">Login</button>
    </div>

<script src="../public/js/landing.js" type="text/javascript"></script> 