<h3 class="display-3 text-center m-5">LEADERBOARD</h3>
<!-- Replace table info with variables -->
{{!-- {{#each topUsers as | user |}}
    {{> topUsers}}
{{/each}} --}}

<div>
    <table class="table bg-forest">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Nerd Level</th>
                <th scope="col">Username</th>
                {{!-- <th scope="col">Quizzes taken</th> --}}
            </tr>
        </thead>
        <tbody>
            {{#each topUsers as | user |}}
                {{> topUsers}}
            {{/each}}
        </tbody>
    </table>
</div>

<script src="/js/leaderboard.js" type="text/javascript"></script> 