{{!-- HREF on each card to reroute to quiz.handlebars with a parameter somewhere with a quiz id --}}
<div class="col py-3">
                <h3 class="text-center display-3 display-md-4 m-3">QUIZZES</h3>
                <h4 class="text-center fw-bold fs-4 fs-md-3 fs-lg-2 m-3">Choose a Quiz</h4>
                <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4 w-100">
                    {{!-- insert partial syntax for each quiz --}}
                    {{!-- insert partial syntax for each quiz --}}
                    {{!-- insert partial syntax for each quiz --}}
                    {{!-- insert partial syntax for each quiz --}}
                    {{!-- /Users/shadinalarab/2022 BOOTCAMP/PROJECT2/ayatollah-of-rock-and-rolla/views/partials/quizCard.handlebars --}}
                </div>
            

<script src="/js/quizzes.js" type="text/javascript"></script> 