

{{#each userScore}}
<div class="bg-dark m-5 p-5">
    <h3 class="display-3 color-forest text-center">FINAL SCORE</h3>
    <h1 class="display-2 color-maize text-center">{{dataValues.score}}</h1>
</div> 
{{/each}}




<h4 class="text-center m-4">Quiz High Scores</h4>
{{#if scoreData}}
<div>
    <table class="table bg-blue-crayola">
        <thead>
            <tr>
                <th scope="col">Score</th>
                <th scope="col">Username</th>
                <th scope="col">Nerd Level</th>
            </tr>
        </thead>
        <tbody>
            {{> scoreboard}}
        </tbody>
    </table>
</div>
{{/if}}

<script src="../public/js/scoreScreen.js" type="text/javascript"></script> 