   {{!-- ADD HREF TO CONNECT THE LOGIN BUTTON TO THE LOGIN PAGE. DO THIS FOR SIGNUP AS WELL ALSO --}}
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark bg-blue-crayola text-black" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                <div class=" mb-md-5 mt-md-4 pb-5">
                    <h2 class="fw-bold mb-2 text-uppercase">SIGN UP</h2>
                    <p class="text-black mb-5">Please choose your username and password</p>
                    <form class="form login-form">
                    <div class="form-group form-outline form-white mb-4">
                        <input type="text" id="username-login" class="form-control" />
                        <label class="form-label" for="username-login">Username</label>
                    </div>
                    <div class="form-group form-outline form-white mb-4">
                        <input type="password" id="password-login" class="form-control form-control-lg" />
                        <label class="form-label" for="password-login">Password</label>
                    </div>
                    <!-- !!!!!!!Needs logic for checking password or delete this section!!!!! -->
                    <div class="form-group form-outline form-white mb-4">
                        <input type="password" id="password-login" class="form-control form-control-lg" />
                        <label class="form-label" for="password-login">Retype Password</label>
                    </div>
                    <!-- ^^^ -->
                    <div class="form-group">
                    <button id="signupSubmit" class="btn btn-outline-light btn-lg px-5" type="submit">Submit</button>
                    </div>
                    </form>
                </div>
                <a class="btn btn-dark" href="/login">Login</a>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
<script src="/js/signup.js" type="text/javascript"></script> 