@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Oswald:wght@600&display=swap');

:root {
    --main-color: #333533;
    --secondary-color: #CFDBD5;
    --alternate-color: #000000;
    --contrast-1: #F5CB5C;
    --contrast-2: #3F88C5;
    --contrast-3: #4DA167;
    --contrast-4: #A63A50;
}

header {
    background-color: var(--main-color);
    color: var(--contrast-1);
}

h1 {
    font-family: Bungee, sans-serif;
}
h2, h3, h4, h5 {
    font-family: oswald, sans-serif;
}

/* Background colors */
.bg-maize {
    background-color: var(--contrast-1) !important;
}
.bg-blue-crayola {
    background-color: var(--contrast-2) !important;
}
.bg-forest {
    background-color: var(--contrast-3) !important;
}
.bg-amaranth {
    background-color: var(--contrast-4) !important;
}
/* text colors */
.color-maize {
    color: var(--contrast-1);
}
.color-blue-crayola {
    color: var(--contrast-2);
}
.color-forest {
    color: var(--contrast-3);
}
.color-amaranth {
    color: var(--contrast-4);
}
/* button colors */
.btn-color-forest:hover {
    background-color: var(--contrast-1);
}
.btn-color-amaranth:hover {
    background-color: var(--contrast-1);
}
.btn-color-blue-crayola:hover {
    background-color: var(--contrast-1);
}
.btn-color-amaranth {
    background-color: var(--contrast-4);
}
.btn-color-forest {
    background-color: var(--contrast-3);
}

